.carousel-inner img {
    width: 100%; /* Largura total do carrossel */ 
    height: 500px; /* Altura fixa para o carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
}
